/* $green: #07E67A;
$black:#455A64; */

*{
    font-family: 'Exo 2', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    /* background-image:url("/image/bg2.jpg"); */
    background:#c1efde;
 /*    background-size:cover; */
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    padding: 3rem;
}
.logo img{
    height: 3rem;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li{
    margin: 0 1.6rem;
}

nav ul li a{
    font-size: 2rem;
    text-decoration: none;
    color: black;
}
a:hover{
    color: #009d63;
}


.container{
    height: 100vh;
    width: 100vw;
    background: url(Headphone-amico.png) no-repeat;
    background-size: 100% 10rem;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image{
    margin-top: -5rem;
}

.image img{
    width: 40vw;
}

.content{
    margin-top: 13rem;
    width: 40vw;
    animation: animate 1s ease 1;
}

.content h1{
    font-size: 5rem;
    color: black;
}

.content h3{
    font-size: 2.3rem;
    color: #009d63;
    margin: 1rem 0;
}

.content p{
    font-size: 1.3rem;
    color:black;
    
}

.buttons button{
	margin: 2rem;
    height: 4rem;
    width: 14rem;
    background: #009d63;
    color: black;
    border-radius: 5rem;
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
}

button:hover{
    background: black;
    color: #009d63;
}

a:nth-child(2) button{
    margin-left: 2rem;
}

@keyframes animate {
    0%{
        transform: translateY(5rem);
    }
    100%{
        transform: translateY(0rem);
    }
}